/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');
/* GLOBAL */
:root{
    --background: #161826;
    --surface3: #1c1e2c;
    --surface5: #212330;
    --surface8: #282a37;
    --surface9: #2a2c39;
    --surface11: #2f313d;
    --primary:#00395d;
    --secondary:#00aeef;
    --error:#CF6679;
    --onPrimary:hsl(204, 43%, 93%);
    --onSecondary:#000000;
    --onBg:#FFFFFF;
    --onSfc:#FFFFFF;
    
    --cardsizew:17.0rem;
    --cardsizeh:22.0rem;

    --sm:1.6rem;
    --xs:1.4rem;
    --md:1.8rem;
    --lg:2.0rem;
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100vw;

    color: var(--onSfc);
    
    font-family: 'VT323', monospace;
    font-size: var(--md);

    background-color: var(--surface3);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* LAYOUT */
.down{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-width: 39.0rem;
    padding: 2.4rem 1.5rem;
    height: fit-content;
    
}
.up{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 39.0rem;
    height: 37.0rem;
    padding: 2.0rem 2.0rem 0 2.0rem;
    
    background-color: var(--background);
}
main{
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, var(--cardsizew));
    width:100%;
}
/* COMPONENTS */
.logo__logo{
    display: flex;
    align-items: center;
}
.logo__image{
    width: 9.0rem;
}
.logo__description{
    margin: 2.0rem  0 ;    
    
    text-align: center;
    font-size: var(--lg);
}
.title2{
    margin-left: 7.0rem;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__box:first-child{
    margin-right: 2.4rem;
}
.info__box{
    display: grid;
    place-items: center;
    grid-template-rows: 80% 20%;
    
    width: 10.0rem;
    height: 10.0rem;

    border-radius: .8rem;
}
.info__box:hover{
    background-color: var(--surface3);
    cursor: pointer;
}
.btn{
    width: 100%;

    letter-spacing: .05rem;
    color: var(--onPrimary);
    
    border: none;
    border-radius: 0rem .8rem .8rem 0rem;
    background-color: var(--primary);
}
.btn:hover{
    cursor: pointer;
    filter: contrast(80%);
}
.search{
    width: 100%;
    padding-left: 1.2rem;

    font-family: 'Share Tech Mono', monospace;
    font-size: var(--sm);

    border: none;
    border-radius: .8rem 0 0 .8rem;
}
input:focus{
    outline: none;
}
.searchBox{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4.0rem 1.5rem;

    margin-top: 2.0rem;
    width: 85%;
    max-width: 50.0rem;
    height: 4.0rem;
}
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    width: var(--cardsizew);
    height: var(--cardsizeh);
    padding: 1.6rem 1.2rem 1.2rem;

    color: var(--onPrimary);

    background-color: var(--surface5);
    border-radius: .8rem;
}
.card__stateImg{
    width: 10.0rem;
    height: 10.0rem;
    object-fit: cover;
}
.imageBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.0rem;
    height: 7.0rem;
    
}
.country{
    position: absolute;
    top: 1.0rem;
    right: 0rem;

    width: 3.0rem;
    height: 2.3rem;
    
    text-align: center;
    line-height: 2.3rem;

    background-color: var(--secondary);
    border-radius: .4rem 0 0 .4rem;
}
.temp{
    font-size: calc(var(--lg) * 2);
}
.card__description{
    margin-top: .4rem;
    text-align: center;
}
.card__close{
    width: .8rem;
    filter:contrast(10%);
}
.closeBox{
    position: absolute;
    display: grid;
    place-items:center;
    top: .8rem;
    left: .8rem;

    width: 1.6rem;
    height: 1.6rem;
}
.closeBox:hover{
    cursor: pointer;
    background-color: var(--surface8);
    border-radius: .4rem;
}
/* TYPOGRAPHY */
.search__error{
    margin: .4rem 0 0 .8rem;
    align-self: flex-start;

    color: #d01137;
    font-size: calc( var(--sm) * 0.9);
}
.city{
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--onPrimary);
}
h1{
    font-family: 'Share Tech Mono', monospace;
    font-size: calc( var(--lg) * 3);
    line-height: 0.9;
}
input::placeholder, .btn{
    font-family: 'VT323', monospace;
    font-size: var(--md);
}
.card__description::first-letter{
    text-transform: capitalize;
}
/* STATES */
.inactive{
    display: none;
}
/* MEDIA QUERIES */
@media (min-width:1060px) {
    .up{
        align-items: start;

        padding-left: 4.0rem;
        height: 30.0rem;
    }
    header{
        display: flex;
        justify-content: space-between;

        width: 100%;
    }
    h1{
        font-size: calc( var(--lg) * 5);
    }
    .logo__description{
        margin: 0;
    }
    .logo__image{
        width: 15.0rem;
    }
    .info{
        align-items: start;
        
        margin-right: 4.0rem;
        
    }
    .info__box{
        justify-content: center;

        width: 6.0rem;
        height: 5.5rem;

        font-size: var(--sm);
    }
    .info__image{
        width: 3.2rem;
    }
    .info__description{
        display: inline;
    }
}